<md-content layout="row" layout-align="center">
    <md-card flex-xs="100" flex-gt-xs="100" flex-gt-sm="65">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Menú principal</span>
                </h3>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-card-title style="background: url('app/assets/FFM.png') ; background-size: cover;" flex>
            <md-card-title-text>
                <md-button  href="#/series" layout="column" layout-align="center center">
                    <div class="fa fa-barcode fa-5x green"></div>
                    <div>Carga de Series</div>
                </md-button>
                <!--<md-button ng-if="Globals.CurrentUser" href="#/quinielas" layout="column" layout-align="center center">
                    <div class="fa fa-trophy fa-5x green"></div>
                    <div>Quinielas</div>
                </md-button>
                <md-button ng-if="Globals.CurrentUser" href="#/estadisticas" layout="column" layout-align="center center">
                    <div class="fa fa-users fa-5x green"></div>
                    <div>Estadística</div>
                </md-button>
                <md-button ng-if="Globals.CurrentUser" href="#/clasificacion" layout="column" layout-align="center center">
                    <div class="fa fa-arrow-circle-up fa-5x green"></div>
                    <div>Clasificación Fase de Grupos</div>
                </md-button>
                <md-button ng-if="Globals.CurrentUser" href="#/clasificacionfinal" layout="column" layout-align="center center">
                    <div class="fa fa-flag-checkered fa-5x green"></div>
                    <div>Clasificación Fase de Final</div>
                </md-button>-->
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>