USE [master]
GO
/****** Object:  Database [KotobaDB]    Script Date: 24/09/2018 08:54:41 a. m. ******/
CREATE DATABASE [KotobaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KotobaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KotobaDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KotobaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KotobaDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KotobaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KotobaDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_encripta_cadena]    Script Date: 24/09/2018 08:54:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Isaac Juarez Sanchez
-- Create date: 20180219
-- Description:	Encripta cadena
-- =============================================
CREATE PROCEDURE [dbo].[stp_encripta_cadena] 
	-- Add the parameters for the stored procedure here
	@Cadena varchar(500) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT master.dbo.fn_varbintohexsubstring(0,HASHBYTES('SHA2_256',@Cadena), 1, 0) AS CadenaEncriptada;
END

GO
USE [master]
GO
